 
body {
	font-family: 'Fjalla One', sans-serif;
	background-color: #090f0f;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.site-content {
	flex: 1;
}

.mastnav {
	margin-top: 0;
	background-color: #090f0f;
	border: none;
	color: #fff;
	border-radius: 0%;
}

.mastdiv {
	/*margin-top: 7vh;*/
	height: 100vh;
	background-image: url("./img/beach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0;
}

.mastdiv1 {
	background: rgba(91, 91, 255, .5);
	display: block;
	margin: 0 auto;
	height: 40%;
	width: 75%;
	border-radius: .5%;
	margin-top: 20vh;
	border: 5px rgba(91, 91, 255, .5);
}

.heading {
	padding: 12vh;
}

.contained {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10vh;
	cursor: default;
}

.link {
	opacity: .7;
	inherit: none;
	height: 32px;
	margin-left: 2vw;
}

.link:hover {
	inherit: none;
	opacity: 1;
	cursor: pointer;
}

.mastdiv2 {
	height: 100vh;
	background-image: url("./img/pier.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.description {
	font-size: 1em;
	width: 100vw;
	height: 100vh;
	margin-bottom: none;
	background: rgba(200, 54, 54, 0.5);
}

.fullDescription {
	color: white;
	font-size: 2em;
	padding: 125px 0;
	margin-right: 40px;
}

.mastdiv3 {
	height: 100vh;
	background-image: url("./img/dunes.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
}

.portfolio {
	margin-top: 0;
	display: block;
	margin: 0 auto;
	padding-top: 50px;
}

.portfolioImages {
	margin: 5px;
	height: 25%;
	border: solid #000;
	opacity: 1;
}

.portfolioImages:hover {
	opacity: .7;
}

footer {
	background-color: #000;
	margin-bottom: 0;
	max-height: 100%;
}

	.footText {
		margin-bottom: 0;
}

@media(min-width: 772px) {
	.mastdiv {
		margin-top: 10vh;
	}
	.mastdiv1 {
		height: 40%;
		width: 65%;
	}
	.link {
		margin-left: 1vw;
	}
}

@media(min-width: 1120px) {
	.fullDescription {
	}
	.contained {
		padding: 5vh;
      font-size: 5em;  
	}
}	


@media(min-width: 1242px) {
	.portfolioImages {
	margin-top: 200px;
	height: 30%;
}	
}

@media(min-width: 730px) {
	.fullDescription {
		font-size: 3em;
		padding: 200px 0;
		margin-right: 17px;
	}
}

@media(min-width: 1400px) {
	.fullDescription {
		font-size: 4em;
		padding: 250px 0;
		margin-right: 20px;
}



@media(max-width: 250px) {
	body {
		font-size: .8em;
	}

	h1 {
		font-size: 1.3em;
	}

	h3 {
		display: none;
	}


    .mastdiv1 {
    	background-color: transparent;
    }
	
}