body {
  font-family: 'Raleway', sans-serif;
}

.mastdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    min-height: 100vh;
    background-color: #000;
}

.fullDescription {
  padding-left: 7.5px;
  @media (min-width: 1000px) {
    padding-left: 15px;
    font-size: 2rem;
  }
}

.bottomDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  background-color: #D3D3D3;
}

.noSelect {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-tap-highlight-color: rgba(255, 255, 255, 0);
  -ms-tap-highlight-color: rgba(255, 255, 255, 0);
  -o-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
}
